---
layout: default
---

<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
<h1 class="post-title">{{ page.title }}</h1>
<div class="profile-abs-wrapper">
  <div class="profile-rel-wrapper">
    <img class="" src="{{ site.data.about.profile_image_path}}" width="200" height="200"></img>
    <hr></hr>
    {% for link in site.data.about.profile_links %}
      <a class="profile-link" href="{{ link.url}}">
        <div class="profile-svg">
          {{link.icon_svg}}
        </div>
        <!--
        <img class="profile-icon" src="{{ link.icon_path}}" width="20" height="20"></img>
        -->
        {{ link.title }}
      </a>
    {% endfor %}
  </div>
</div>
{{ content }}
